<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./partials/header') %> 
    <%- include('./partials/navbar') %> 
      <div class="page-wrapper"></div>
      <div class="container-fluid"></div>
      <div class="row"></div>
      <div class="col-lg-12"></div>
      <h1 class="m-b-0 text-white"></h1>
      <h2>Welcome to Home of Privacy Portal</h2>
      <%- include('./partials/footer') %> 
  </body>
</html>