<div class="footer">
    <ul>
     <li><a>(c) All Rights Reserved</a></li>
    <li><a href="https://www.example.com">About Me</a></li>
    <li><a href="mailto:example@example.com">Mail Me</a></li>
    </ul>
</div>